{% extends 'base.html' %}

{% block content %}
    <h1>페이지 로드 성공 :)</h1>
    <table style="width:80%;">
        <tr>
            <th>디테일보기</th>
            <th>순번</th>
            <th>제목</th>
            <th>내용</th>
            <th>생성일</th>
            <th>수정일</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>detail</td>
            <td>{{ article.pk }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.created_at }}</td>
            <td>{{ article.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock  %}