{% extends 'base.html' %}

{% block content %}
    <h1>Articles 의  Index</h1>
    <a href="{% url 'articles:create' %}">article_create</a>
    {% for article in articles %}
        <p>{{ article.pk }}</p>
        <p>{{ article.title }}</p>
        <p>{{ article.content }}</p>
        <p>{{ article.created_at }}</p>
        <p>{{ article.updated_at }}</p>
        <img class="d-block" src="{{ article.image.url }}" alt="">
        <a href="{% url 'articles:detail' article.pk %}">article_detail</a>
        <hr>
    {% endfor %}


    <div class="pagination">
    <span class="step-links">
      {% if articles.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ articles.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
      </span>

      {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">next</a>
        <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock  %}