{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>영화, {{ movie.title }} 내용 수정하기</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% comment %} {% buttons %}
            <button type="submit" class="btn btn-primary">
            수정완료하기
            </button>
        {% endbuttons %} {% endcomment %}
        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}

    </form>
{% endblock  %}

{% comment %} <table>
            <tr>
                <th>영화명</th>
                <th>영화명(영문)</th>
                <th>누적관객수</th>
                <th>개봉일</th>
                <th>장르</th>
                <th>관람등급</th>
                <th>평점</th>
                <th>포스터 이미지 URL</th>
                <th>영화소개</th>
            </tr>
            <tr>
                <td>디테일로 가기</td>
                <td><input type="text" name ="title"></td>
                <td><input type="text" name ="title_en"></td>
                <td><input type="text" name ="audience"></td>
                <td><input type="text" name ="open_date"></td>
                <td><input type="text" name ="genre"></td>
                <td><input type="text" name ="watch_grade"></td>
                <td><input type="text" name ="score"></td>
                <td><input type="text" name ="poster_url"></td>
                <td><input type="text" name ="description"></td>
            </tr>
        </table> {% endcomment %}