{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <h2>{{ article.pk }}번 문서 입니다.</h2>
    <table style="width:100%;">
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성시간</th>
            <th>수정시간</th>
        </tr>
        <tr>
            <td>{{ article.pk }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.created_at }}</td>
            <td>{{ article.updated_at }}</td>
        </tr>
    </table>
    <hr>
    <form action="{% url 'articles:delete' article.pk%}" method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-warning">삭제하기</button>
    </form>
    <a href="{% url 'articles:edit' article.pk %}"><button type="button" class="btn btn-primary">수정하기</button></a>
    <!--<a href="{% url 'articles:delete' article.pk%}">delete</a>-->
    <a href="{% url 'articles:index' %}"><button class="btn btn-info">처음으로</button></a>
{% endblock  %}