.container{
    background-color:pink;
    display: flex;
    justify-content: space-around;
}

.item{
    width:50px;
    height:50px;
    background-color: royalblue;
    /*display: inline;*/ /*글자한테 주는 속성이라서 text font-size만 줄 수 있을 정도*/
    display: inline-block; 
}