{% extends 'base.html' %}

{% block content %}
    <h1>영화</h1>
    <a href="{% url 'movies:create' %}"><h3 class="mb-4">영화 설명 쓰러 가기</h3></a>
    {% for movie in movies %}
        <img src="{{ movie.poster_url }}" style="width:70px; display:block;"alt="">
        <p>영화명: {{ movie.title }}</p>
        <p>영화명(영문): {{ movie.title_en }}</p>
        <p>누적관객수: {{ movie.audience }}</p>
        <p>개봉일: {{ movie.open_date }}</p>
        <p>장르 : {{ movie.genre }}</p>
        <p>관람등급: {{ movie.watch_grade }}</p>
        <p>평점: {{ movie.score }}</p>
        <p>포스터 이미지 URL: <a href="{{ movie.poster_url }}">{{ movie.title }}포스터 URL</a>{{ movie.poster_url }}</p>
        <p>영화소개: {{ movie.description }}</p>
        <p><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}, 디테일하게 보러가기</a></p>
        <hr>     
    {% endfor %}
{% endblock  %}