{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block comment %}
<h1><img src="{% static 'img/nav/review.png' %}" class="page-icon mr-2 ml-2">댓글쓰기</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-5">
                <img src="{{ review.food_image.url }}">
            </div>
            <div class="col-7">
                <form action="{% url 'maps:comment-create' comment_user_pk review_pk %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success">댓글 남기기</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}