{% extends 'base.html' %}

{% block content %}
    <h1>전체페이지</h1>
    <a href="{% url 'articles:new' %}">새로만들기</a>
    <table>
        <tr>
            <th>디테일</th>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>created_at</th>
            <th>updated_at</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td><a href="{% url 'articles:detail' article.pk %}">디테일보기</a></td>
                <td>{{ article.pk }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.created_at }}</td>
                <td>{{ article.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock  %}