{% extends 'base.html' %}

{% block content %}
   <h1>전체페이지입니다.</h1>
   <a href="{% url 'pages:new' %}">새로쓰기</a>
        <table>
            <tr>
                <th>디테일</th>
                <th>순서</th>
                <th>제목</th>
                <th>내용</th>
                <th>생성날</th>
                <th>수정날</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td><a href="{% url 'pages:detail' article.pk %}">딭테일보기</a></td>
                    <td>{{ article.pk }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.created_at }}</td>
                    <td>{{ article.updated_at }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock  %}